@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ---------- Reset ---------- */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* ---------- Main Styling ---------- */
html,body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7em;
  background: #fff;
}

h1, h2 {
  padding-bottom: 20px;
}

h3, h4 {
  padding-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

/* ---------- Utils ---------- */
.page {
  margin: 20px 300px;
}

.container {
  display: flex;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.tag {
  background: #EBF5FB;
  padding: 5px;
  border: #5DADE2 solid 0.5px;
  border-radius: 5px;
  margin-right: 5px;
}

.rating {
  color: #f4c150;
}

.btn {
  max-width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: #21618C;
  color: #fff;
  font-size: 1.2em;
}

.btn-center {
  align-self: center;
  justify-self: center;
}

/* ---------- Header ---------- */
#main-header {
  display: flex;
  padding: 20px 0;
  background: #f7fbfd;
}

/* -- */
#main-header .main-title {
  flex: 2;
  padding: 0 50px;
  text-align: center;
}

#main-header .main-title img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* -- */
#main-header .main-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 50px;
}

#main-header .main-info .info-group {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

#main-header .main-info .info-group:last-child {
  margin-bottom: 0;
}

#main-header .main-info .info-group i {
  margin-right: 10px;
}

#main-header .main-info .info-group p.description {
  text-align: justify;
}

#main-header .main-info .links {
  padding: 5px 0;
  border: #333 solid 1px;
  border-radius: 8px;
}

#main-header .main-info .links a {
  color: #21618C;
  font-size: 1.7em;
}

#main-header .main-info .links a:hover {
  transform: scale(1.2);
}

/* -- */
#main-header .main-rating {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}

#main-header .main-rating h1 {
  font-size: 4rem;
}

#main-header .main-rating .rating {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/* ---------- Navbar ---------- */
#navbar {
  display: flex;
  background: #fff;
  color: #fff;
  justify-content: space-between;
  border-bottom: #bbb solid 0.3px;
  border-top: #bbb solid 0.3px;
  padding: 20px;
  margin: 0;
}

#navbar ul {
  position: relative;
  width: 100%;
  display: flex;
  list-style: none;
}

#navbar ul li.timeline-switcher {
  position: absolute;
  top: calc(50% - 22px);
  right: 20px;
  padding: 10px;
  background: #EBF5FB;
  color: #333;
  font-size: 0.9em;
  border-radius: 40px;
}

#navbar ul li a {
  position: relative;
  color: #333;
  padding: 15px;
  margin: 0 20px;
}

#navbar ul li a.active {
  cursor: default;
}

#navbar ul li a::before,
#navbar ul li a.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: 0;
  background: transparent;
}

#navbar ul li a:hover::before,
#navbar ul li a.active::before {
  background: #21618C
}

/* ---------- Search Link ---------- */
#navbar ul li a.search:hover,
#navbar ul li a.search.active {
  border: #21618C solid 2px;
  border-radius: 50%;
  padding: 10px;
  margin: 0 23px;
  color: #21618C;
  background: #EBF5FB;
}

#navbar ul li a.search::before {
  content: none;
}

/* ---------- Switch ---------- */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #21618C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #21618C;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* ---------- Experience ---------- */
.experience .job-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 10px 0 0 ;
  color: #21618C;
  cursor: pointer;
}

.experience .job-header:hover {
  background: #fcfcfc;
}

.experience .job-header .job-title {
  font-size: 1.5em;
}

.experience .job-description {
  position: relative;
  padding-right: 20px;
}

.experience .job-description::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 4px;
  background: #21618C;
}

.experience .job-description.current-job::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 4px;
  background: #f4c150;
}

.experience .job-description i {
  margin-right: 10px;
}

.experience .job-description .job-company {
  font-size: 1.1em;
}

.experience .job-description .job-date,
.experience .job-description .job-location {
  font-size: 0.8em;
}

.experience .job-description .tasks {
  margin: 10px;
}

.experience .job-description .tasks .task {
  display: flex;
  align-items: baseline;
}

.experience .job-description .tasks .task i {
  margin-right: 17px;
}

.experience .job-description .tasks .task p {
  text-align: justify;
}

/* ---------- Milestone ---------- */
ul.milestone {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

ul.milestone::before {
  content: '';
  width: 0;
  height: 100%;
  border: 1px dashed #333;
  position: absolute;
  top: 0;
  left: 0;
}

ul.milestone li {
  margin: 20px 30px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 500px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08);
  background: #f7fbfd;
}

ul.milestone li.current-milestone {
  background: #f4c150;
}

ul.milestone li > div {
  margin-left: 10px;  
}

ul.milestone li > div .title,
ul.milestone li > div .type {
  font-weight: 600;
  font-size: 12px;
}

ul.milestone li > div .info {
  font-weight: 300;
}

ul.milestone li span.number {
  height: 100%;
}

/* ---------- Period ---------- */
ul li.milestone-period > span {
  width: 0;
  height: 100%;
  border: 1px solid #333;
  position: absolute;
  top: 0;
  left: -30px;
}

ul li.milestone-period > span::before,
ul li.milestone-period > span::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fc9a80;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

ul li.milestone-period > span::before {
  top: -5px;
}

ul li.milestone-period > span::after {
  top:calc(100% - 5px);
}

ul li.milestone-period span.number span {
  position: absolute;
  font-size: 10px;
  left: -120px;
  width: 110px;
  font-weight: bold;
  text-align: end;
}

ul li.milestone-period span.number span:first-child {
  top: -12px;
}

ul li.milestone-period span.number span:last-child {
  top: calc(100% - 12px);
}

/* ---------- Action ---------- */
ul li.milestone-action span.point::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fc9a80;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: -35px;
}

ul li.milestone-action span.number span {
  position: absolute;
  font-size: 10px;
  left: -150px;
  top: 41px;
  width: 110px;
  height: 30px;
  font-weight: bold;
  text-align: end;
}

/* ---------- Search ---------- */
#searchInput {
  width: 70%;
  height: 50px;
  font-size: medium;
  padding: 20px;
  border-style: solid;
  border-color: #21618C;
  border-radius: 5px;
  margin: 10px;
}

#searchResult {
  min-height: 250px;
}

/* ---------- Skills ---------- */
.skill {
  position: relative;
  width: 400px;
  padding: 20px;
  border: #bbb solid 1px;
  margin-bottom: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}

.skill::before {
  content: '';
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 100%;
  height: 3px;
  background: #21618C;
}

.skill .skill-header {
  margin: 0;
  justify-content: space-between;
}

.skill .skill-header .skill-title {
  font-size: 1.5em;
  color: #21618C;
}

.skill .skill-content {
  justify-content: space-between;
}

.skill .skill-content .skill-item {
  display: flex;
  width: 40%;
  align-items: baseline;
}

.skill .skill-content .skill-item i {
  margin-right: 17px;
}

.skill .skill-content .skill-item p {
  text-align: justify;
}

/* ---------- Reviews ---------- */
.review {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}

.review::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #bbb;
}

.review .review-header {
  flex: 1;
  display: flex;
}

.review .review-header span.review-avatar {
  height: 50px;
  width: 50px;
  border: #bbb solid 1px;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review .review-header div {
  padding: 0 10px;
}

.review .review-header div .review-date {
  color: #999;
  font-size: 0.7em;
  display: block;
}

.review .review-content {
  flex: 2;
  text-align: justify;
}

/* ---------- Review Form ---------- */
.review .review-header div .review-username input {
  padding: 5px;
}

.review .review-content .toggle-form {
  color: #F1948A;
}

.review .review-content .toggle-form:hover {
  cursor: pointer;
  color: #E74C3C;
  transform: scale(1.2);
}

.review .review-content textarea {
  width: 100%;
  font-size: 1em;
  padding: 10px;
}






#wisdom {
  background: #16A085;
  color: #ABEBC6;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

#wisdom span {
  color: #fff;
  font-weight: 900;
}

#main-footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-weight: bold;
}

#main-footer .footer-copyright {
  color: #999
}

#main-footer .footer-copyright .owner {
  color: #21618C
}