@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset */
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* Main Styling */
html,body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7em;
  background: #fff;
}

h1, h2 {
  padding-bottom: 20px;
}

h3, h4 {
  padding-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
}

/* Utils */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Header */
#main-header {
  display: flex;
  margin: 30px 10px;
}

#main-header .main-title {
  flex: 1;
  padding: 10px 50px;
  text-align: center;
}

#main-header .main-title img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#main-header .main-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 50px;
  border-left: #bbb solid 0.3px;
}

#main-header .main-info .info-group {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

#main-header .main-info .info-group:last-child {
  margin-bottom: 0;
}

#main-header .main-info .info-group i {
  margin-right: 10px;
}

/* #main-header .main-info .info-group p {
  
} */

/* Navbar */
#navbar {
  display: flex;
  background: #fff;
  color: #fff;
  justify-content: space-between;
  border-bottom: #bbb solid 0.3px;
  border-top: #bbb solid 0.3px;
  padding: 20px;
  margin: 0 5px;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}


#navbar ul li a {
  position: relative;
  color: #333;
  padding: 15px;
  margin: 0 20px;
}

#navbar ul li a.active {
  cursor: default;
}

#navbar ul li a::before,
#navbar ul li a.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: 0;
  background: transparent;
}

#navbar ul li a:hover::before,
#navbar ul li a.active::before {
  background: #21618C
}

/* Experience */
.experience {
  padding: 30px 10%;
}

.experience .job-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 10px 0 0 ;
  color: #21618C;
  cursor: pointer;
}

.experience .job-header:hover {
  background: #fcfcfc;
}

.experience .job-header .job-title {
  font-size: 1.5em;
}

.experience .job-description {
  display: flex;
  justify-content: flex-start;
}

.experience .job-description i {
  margin-right: 10px;
}

.experience .job-description .job-company,
.experience .job-description .job-date,
.experience .job-description .job-location {
  font-size: 1.5em;
}

.experience .tasks {
  flex: 2;
}

.experience .tasks .task {
  display: flex;
  align-items: baseline;
}

.experience .tasks .task i {
  margin-right: 17px;
}

.experience .tasks .task p {
  text-align: justify;
}

/* Milestone */
ul.milestone {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

ul.milestone::before {
  content: '';
  width: 0;
  height: 100%;
  border: 1px dashed #333;
  position: absolute;
  top: 0;
  left: 0;
}

ul.milestone li {
  margin: 20px 30px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 500px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
}

ul.milestone li > span {
  width: 0;
  height: 100%;
  border: 1px solid #333;
  position: absolute;
  top: 0;
  left: -30px;
}

ul.milestone li > span::before, ul.milestone li > span::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fc9a80;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

ul.milestone li > span::before {
  top: -5px;
}

ul.milestone li > span::after {
  top:calc(100% - 5px);
}

ul.milestone li > div {
  margin-left: 10px;  
}

div .title, div .type {
  font-weight: 600;
  font-size: 12px;
}

div .info {
  font-weight: 300;
}

span.number {
  height: 100%;
}

span.number span {
  position: absolute;
  font-size: 10px;
  left: -120px;
  width: 110px;
  font-weight: bold;
  text-align: end;
}

span.number span:first-child {
  top: -12px;
}

span.number span:last-child {
  top: calc(100% - 12px);
}

/* Search */
#searchInput {
  width: 70%;
  height: 50px;
  font-size: medium;
  padding: 20px;
  border-style: solid;
  border-color: #21618C;
  border-radius: 5px;
  margin: 10px;
}

#searchResult {
  min-height: 250px;
}










#wisdom {
  background: #21618C;
  color: #999;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

#wisdom span {
  color: #fff;
  font-weight: 900;
}

#main-footer {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-weight: bold;
}

#main-footer .footer-copyright {
  color: #999
}

#main-footer .footer-copyright span {
  color: #21618C
}